/* ! ABOUT SECTION */

.about__content {
	line-height: 28px;
	display: flex;
}

.about__content::before {
	content: "";

	display: block;
	background-image: url("./../img/about/img.jpg");
	background-size: 600px 596px;
	background-repeat: no-repeat;
	width: 600px;
	height: 596px;
	margin-right: 80px;
}

.about__text {
	max-width: 500px;
}

.about__desc {
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 48px;
}

.about__desc span{
	display: block;
}

.about__desc span:not(:last-child) {
	margin-bottom: 25px;
	;
}

.quote {
	color: rgb(108, 2, 135);
	font-size: 44px;
	font-weight: 900;
	line-height: 50px;
}

.quote--open {
	/* position: absolute;
	left: 0; */
	margin-left: -30px;
	top: -5px;
}

.citation {
	position: relative;
	padding-left: 30px;
}

.citation__text {
	display: inline-block;
	font-size: 44px;
	line-height: 50px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 40px;
}

.about__cite {
	display: flex;
	column-gap: 30px;
	font-style: normal;
	justify-content: flex-end;
}

.about__cite>span {
	max-width: 279.28px;
}

.about__coll {
	max-width: 500px;
}

.about__img {
	max-width: 596px;
	max-height: 600px;

	margin-right: 80px;
}