/* ! CONTACTS SECTION */

.contacts{
	margin-bottom: 156px;
}

.contacts__address {
	display: flex;
	justify-content: space-between;
	font-style: normal;
}

.contacts__data {
	margin-bottom: 35px;
}

.contacts__data a
{
	border: 3px solid #00000000;
	transition: color 0.25s ease-in, border-color 0.25s ease-in;
}

.contacts__data a:hover {
	color: #6C0287;
}

.contacts__data a:focus{
	outline: none;
	border-color: #6C0287;
	border-radius: 5px;

	color: #CD06FF;
}

.contacts__data a:active {
	color: #CD06FF;

	transform: translate(0, 2px);
	-webkit-transform: translate(0, 2px);
	-o-transform: translate(0, 2px);
	-moz-transform: translate(0, 2px);
	outline: none;
	border-color: #00000000;
}

.location,
.phone,
.mail {
	display: flex;
	align-items: center;
	max-width: 360px;
	column-gap: 31px;

	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}

.location {
	margin-bottom: 38px;
}

.location span{
	display: block;
}

.phone {
	margin-bottom: 11px;
}

.location::before,
.phone::before,
.mail::before {
	content: "";
	display: block;
	min-width: 35px;
	min-height: 32px;
	background-repeat: no-repeat;
}

.location::before {
	background-image: url("./../img/icons/location.svg");
}

.phone::before {
	background-image: url("./../img/icons/phone.svg");
}

.mail::before {
	background-image: url("./../img/icons/letter.svg");
}

.phone a,
.mail a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}


.socials__list {
	display: flex;
	column-gap: 27px;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.socials__link {
	display: block;
	min-height: 50px;
	min-width: 50px;
	outline: 1px solid transparent;
	outline-offset: 3px;
	border-radius: 50%;
	transition-property: color, outline-color;
	transition-duration: 0.2s, 0.2s;
	transition-timing-function: ease-in;
}

.socials__link {
	color: #fff;
}

.socials__link:hover {
	color: #EADEED;
}

.socials__link:focus {
	outline-color: #CD06FF;
}

.socials__link:active {
	color: #CD06FF;
}