.faq__item {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;

	background-color: #fff;
	color: #1C1A1A;
	font-weight: 700;
	font-size: 24px;
	padding: 30px 70px;
}

.faq__item:not(:last-child) {
	margin-bottom: 20px;
}

.faq__item:nth-child(even) {
	background-color: #440F51;
	color: #fff;
}


.faq__open-button--purple circle {
	stroke: #6C0287;
}
.faq__open-button--purple path {
	transition: fill 0.1s ease-in;
	fill: #6C0287;
}

.faq__open-button--purple:hover{
	fill: #6C0287;
}

.faq__open-button--purple:hover path {
	fill: #fff;
}

.faq__open-button--purple:active {
	fill: none;
}

.faq__open-button--purple:active .vertical {
	fill: none;
}

.faq__open-button--purple:active path {
	fill: #6C0287;
}


/* !white */

.faq__open-button--white circle {
	stroke: #fff;
}
.faq__open-button--white path {
	transition: fill 0.1s ease-in;
	fill: #fff;
}

.faq__open-button--white:hover{
	fill: #fff;
}

.faq__open-button--white:hover path {
	fill: #6C0287;
}

.faq__open-button--white:active {
	fill: none;
}

.faq__open-button--white:active .vertical {
	fill: none;
}

.faq__open-button--white:active path {
	fill: #fff;
}






/* .faq__item:nth-child(odd)::after {
	content: "";
	display: block;
	background-image: url("./../img/icons/open-purple.svg");
	width: 46px;
	height: 46px;
}

.faq__item:nth-child(odd):hover::after{
background-image: url("./../img/icons/open-purple-hover.svg");
}

.faq__item:nth-child(odd):active::after{
background-image: url("./../img/icons/close-purple.svg");
}


.faq__item:nth-child(even)::after {
	content: "";
	content: "";
	display: block;
	background-image: url("./../img/icons/open.svg");
	width: 46px;
	height: 46px;
}

.faq__item:nth-child(even):hover::after{
	background-image: url("./../img/icons/open-hover.svg");
	}
	
	.faq__item:nth-child(even):active::after{
	background-image: url("./../img/icons/close.svg");
	} */