.faq__title {
	line-height: 1.4;
}

.faq__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.faq__acc-header {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;

	background-color: white;
	color: #1C1A1A;
	font-weight: 700;
	font-size: 24px;
	padding: 21px 70px 20px;
}

/* .faq__item:not(:last-child) {
	margin-bottom: 20px;
} */

.faq__acc-header:nth-of-type(even) {
	background-color: #440F51;
	color: white;
}

.accord-icon {
	display: block;
	width: 46px;
	height: 46px;
	background-image: url('./../img/icons/accord/open-purple.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	transition: background-image 0.5s ease;
}


.accord-icon--open {
	display: block;
	width: 46px;
	height: 46px;
	background-image: url("./../img/icons/accord/close-purple.svg");
}

.faq__acc-header:nth-of-type(even) .accord-icon {
	background-image: url("./../img/icons/accord/open.svg");
}

.faq__acc-header:nth-of-type(even) .accord-icon--open {
	background-image: url("./../img/icons/accord/close.svg");
}



@media (hover:hover) {
	.accord-icon:hover {
		background-image: url('./../img/icons/accord/open-purple-hover.svg');
	}

	.accord-icon--open:hover {
		background-image: url("./../img/icons/accord/close-purple-hover.svg");
	}

	.faq__acc-header:nth-of-type(even) .accord-icon:hover {
		background-image: url("./../img/icons/accord/open-hover.svg");
	}

	.faq__acc-header:nth-of-type(even) .accord-icon--open:hover {
		background-image: url("./../img/icons/accord/close-hover.svg");
	}
}

.faq__acc-content {
	margin-top: -20px;
	padding: 57px 70px 100px;
	background-color: #fff;
	color: #000;
	font-size: 24px;
	line-height: 1.17;
}

.faq__acc-content a {
	font-weight: 700;
	transition: color 0.2s ease-in, outline-color 0.2s ease-in;
	outline: var(--opacity-color) 2px solid;
}

.faq__acc-content a:hover {
	color: var(--dark-purp);
}

.faq__acc-content a:focus-visible {
	color: var(--dark-purp);
	outline-color: var(--dark-purp);
}

.faq__acc-content a:active {
	color: var(--light-purp);
}

.accord-icon {
	order: 1;
}

/* !white */

.faq__open-button--white path {
	fill: white;
}

.faq__open-button--white circle {
	stroke: white;
}

.faq__open-button--white:hover svg {
	stroke: #6C0287;
	background-color: white;
}

.faq__open-button--white:focus-visible {
	outline: white 2px solid;
}

.faq__open-button--white:active path.vertical {
	stroke: white;
}

@media (max-width:1150px) and (hover:hover) {
	.faq__acc-header:nth-of-type(even) .accord-icon:hover {
		background-image: url("./../img/icons/accord/open-purple-hover.svg");
	}

	.faq__acc-header:nth-of-type(even) .accord-icon--open:hover {
		background-image: url("./../img/icons/accord/close-purple-hover.svg");
	}
}

@media (max-width:1150px) {
	.faq__acc-header:nth-of-type(5) {
		display: none;
	}

	.faq__acc-header:nth-of-type(even) .accord-icon {
		background-image: url("./../img/icons/accord/open-purple.svg");
	}

	.faq__acc-header:nth-of-type(even) .accord-icon--open {
		background-image: url("./../img/icons/accord/close-purple.svg");
	}

	.faq__list {
		gap: 16px;
	}

	.faq__acc-header {
		font-size: 20px;
		line-height: 1.2;
		padding: 12px 20px 12px 25px;
	}

	.faq__acc-header:nth-of-type(even) {
		background-color: white;
		color: #1C1A1A;
	}

}

@media (max-width:900px) {
	.faq__acc-header {
		font-size: 18px;
		line-height: 1.33;
		padding: 12px 65px 12px 54px;
	}

	.faq__acc-content {
		margin-top: -16px;
		padding: 20px 50px 25px;
		font-size: 16px;
	}
}

@media (max-width:660px) {
	.faq__acc-header {
		font-size: 12px;
		padding: 7px 13px 7px 10px;
	}

	.accord-icon,
	.accord-icon--open {
		max-width: 30px;
		max-height: 30px;
	}

	.faq__acc-content {
		margin-top: -16px;
		padding: 10px 20px 15px;
		font-size: 10px;
	}
}