.footer {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 16px;
}

.footer__information{
	display: flex;
	justify-content: space-between;
}

.footer__copyrights {}

.footer__developer {}

.footer__developer-name {}

.footer__developer-mail {}