.footer {
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 16px;

	background: linear-gradient(180.00deg, rgb(27, 26, 27), rgb(55, 10, 55) 100%);
}

.footer__information {
	display: flex;
	justify-content: space-between;
}

.footer__copyrights {}

.footer__developer {}

.footer__developer-name {}

.footer__developer-mail {
	border: 3px solid var(--opacity-color);
	transition: color 0.25s ease-in, border-color 0.25s ease-in;
}

.footer__developer-mail:hover {
	color: var(--dark-purp);
}

.footer__developer-mail:focus {
	outline: none;
	border-color: var(--dark-purp);
	border-radius: 5px;

	color: var(--light-purp);
}

.footer__developer-mail:active {
	color: var(--light-purp);
	outline: none;
	border-color: var(--opacity-color);
}