/* ! HALLS SECTION */

.section__title--halls {
	margin-bottom: 60px;
}

.halls__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;

	list-style: none;
}

.halls__item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 580px;
	height: 349px;
}

.hall-name {
	font-size: 70px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.halls__item--vibes {
	background-image: url("./../img/halls/_80vibes.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.halls__item--star-wars {
	background-image: url("./../img/halls/star-wars.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.halls__item--west {
	background-image: url("./../img/halls/wild-west.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.halls__item--neon {
	background-image: url("./../img/halls/neon-style.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
