.header{
	padding-top: 0;
}

.header__content {
	display: flex;
	column-gap: 96px;
	align-items: center;
	color: #fff;
	text-transform: uppercase;
}

.navigation {}

.navigation__list {
	display: flex;
	column-gap: 40px;
}

.recall-button {
	padding: 12px 32px;
	border: #CD06FF solid 3px;
	border-radius: 10px;
}