.header {
	padding: 30px 0;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.navigation__list {
	font-size: 22px;
	line-height: 2.3;
	text-transform: uppercase;

	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.burger-menu {
	display: none;
}

.recall-button {
	padding: 9px 29px 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 1.36;
	font-weight: 700;
	border: var(--light-purp) 3px solid;
	border-radius: 10px;

	transition: border-color 0.2s ease-in, background-color 0.2s ease-in, outline-color 0.2s ease-in;
}

.recall-button:hover,
.recall-button:focus-visible {
	background-color: var(--dark-purp);
	border-color: var(--dark-purp);
	outline: none;
}


.recall-button:active {
	background-color: var(--violet);
	border-color: var(--violet);
	outline: #000 1px solid;
}

.navigation__link {
	transition: color 0.2s ease-in, outline-color 0.2s ease-in;
	outline: var(--opacity-color) 2px solid;
	border-radius: 10px;
}

.navigation__link:hover {
	color: var(--dark-purp);
}

.navigation__link:focus-visible {
	color: var(--light-purp);
	outline-color: var(--dark-purp);
}

.header__logo {
	outline: var(--opacity-color) 2px solid;
	transition: outline-color 0.2s ease-in, background-color 0.2s ease-in;
	border-radius: 15px 0 15px 0;
}

.header__logo:hover {
	background-color: var(--light-purp);
}

.header__logo:focus-visible {
	outline-color: var(--dark-purp);
}

.header__logo:active {
	background-color: var(--dark-purp);
}

@media (max-width: 1150px) {
	.header__logo {
		height: 55px;
		width: 87px;
	}

	.header__logo img {
		height: 100%;
	}


	.navigation__list {
		font-size: 18px;
		line-height: 1.22;

		gap: 20px;
	}

	.recall-button {
		font-size: 18px;
		line-height: 1.33;
		padding: 7px 23px 8px;
	}
}

@media (max-width: 900px) {
	.navigation {
		order: -1;
	}

	.navigation__list {
		display: none;
	}

	.navigation {}

	.burger-menu {
		display: block;
		height: 54px;
		color: var(--dark-purp);
		outline: 1px var(--opacity-color) solid;

		transition: color 0.2s ease-in, outline-color 0.2s ease-in;
	}

	.burger-menu:hover {
		color: var(--light-purp);
	}

	.burger-menu:focus-visible {
		outline: 1px var(--light-purp) solid;
	}

	.burger-menu:active {
		color: var(--violet);
	}

	.recall-button {
		padding: 7px 23px 8px;
	}
}

@media (max-width: 560px) {
	.header {
		padding: 20px 0;
	}

	.burger-menu {
		width: 39px;
		height: 39px;
	}

	.header__logo {
		width: 66px;
		height: 42px;
	}

	.recall-button {
		display: none;
	}
}