/* ! HERO SECTION */

.section--hero {
	padding-top: 146px;
}

.container--hero {
	position: relative;
	height: 794px;
}

.container--hero::after {
	position: absolute;

	/* ? Есть ли более правильный способ избавиться прилипания в паддинг родителя? */
	padding-right: inherit;
	right: 0;
	bottom: 0;

	content: "";
	height: 762px;
	width: 675px;
	background-image: url("./../img/hero/hero-img.png");
	background-repeat: no-repeat;
}

.page__title {
	font-size: 150px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 100%;
	letter-spacing: -15px;
	margin: 0;
}

.hero__slogan {
	font-size: 28px;
	padding-left: 100px;
}