.reserve {
	padding: 80px 0;
}

.reserve-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.reserve-form__halls {
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(4, 1fr);
	column-gap: clamp(20px, 3vw, 60px);
	grid-template-areas:
		"legend legend legend legend"
		"vibes star-wars west neon";
	margin-bottom: 60px;
}
.reserve-form__legend {
	grid-area: legend;
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.17;
	text-align: center;

	margin-bottom: 40px;
}
.reserve-form__legend--nested {
	margin-bottom: 20px;
	text-align: left;
}

/* ! Hall */

.hall-radio--vibes {
	grid-area: vibes;
}
.hall-radio--star-wars {
	grid-area: star-wars;
}
.hall-radio--west {
	grid-area: west;
}
.hall-radio--neon {
	grid-area: neon;
}
.hall-radio > span {
	display: inline-block;
	vertical-align: middle;
	width: 100%;

	color: rgb(0, 0, 0);
	font-size: clamp(22px, 2vw, 30px);
	font-weight: 700;
	line-height: 1.3;
	text-align: center;
	text-transform: uppercase;

	border-radius: 10px;
	padding: 8px 15px;
	background-color: #fff;

	outline: 4px solid var(--opacity-color);
	outline-offset: 4px;

	transition:
		outline-color 0.3s ease-in,
		background-color 0.3s ease-in,
		color 0.3s ease-in;
}

.hall-radio > span:hover {
	outline-color: var(--dark-purp);
	background-color: var(--dark-purp);
	color: #fff;
}

.hall-radio > input[type="radio"]:focus-visible + span {
	outline-color: var(--dark-purp);
}

.hall-radio > input[type="radio"]:checked + span {
	background-color: var(--violet);
	color: #fff;
}
.hall-radio > input[type="radio"]:checked:hover + span {
	outline-color: var(--violet);
}
.hall-radio > input[type="radio"]:checked:focus-visible + span {
	outline-color: var(--violet);
}

/* ! Kit */
.reserve-form__kit {
	display: grid;
	grid-template-columns: repeat(3, 220px);
	grid-template-rows: repeat(2, auto);
	gap: 10px;
	grid-template-areas: "legend legend legend";
	justify-content: space-evenly;
	margin-bottom: 60px;
}
.reserve-form__column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.reserve-form__legend {
}
.reserve-form__legend--mb-20 {
}

.reserve-form__label > input + span {
	display: flex;
	align-items: center;
	gap: 12px;

	color: rgb(255, 255, 255);
	font-size: 22px;
	font-weight: 400;
	line-height: 1.136;
	outline: 2px solid var(--opacity-color);
	outline-offset: 7px;
	border-radius: 5px;
	transition:
		outline-color 0.2s ease-in,
		color 0.2s ease-in;
}

.reserve-form__label > input + span::before {
	content: "";
	display: block;
	width: 27px;
	height: 27px;
	background-color: white;
	transition:
		background-color 0.2s ease-in,
		border-color 0.2s ease-in;
}
.reserve-form__label--radio {
}
.reserve-form__label > input + span::before {
	/* border: 5px solid var(--opacity-color); */
	border: 5px solid white;
}
.reserve-form__label > input[type="radio"] + span::before {
	border-radius: 50%;
}
.reserve-form__label:hover > input + span::before {
	/* border: 5px solid var(--dark-purp); */
	background-color: #ab37ff;
}
.reserve-form__label:hover > span {
	/* border: 5px solid var(--dark-purp); */
	color: #ab37ff;
}

.reserve-form__label > input:focus-visible + span {
	/* border: 5px solid var(--dark-purp); */
	outline-color: #ab37ff;
}

.reserve-form__label > input[type="radio"]:checked + span::before {
	background-color: var(--dark-purp);
}
.reserve-form__label > input[type="checkbox"]:checked + span::before {
	background-image: url("./../img/form/check.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	border-width: 0;
}

/* ! Inputs */

.reserve-form__data {
	display: grid;
	grid-template-areas:
		"legend legend legend"
		"date-time name phone"
		"select surname email";
	/* grid-template-columns: repeat(3, minmax(300px, 1fr));	 */
	grid-template-rows: auto repeat(2, 1fr);
	gap: 36px 50px;
	justify-content: center;
	align-items: center;
	width: 100%;

	margin-bottom: 40px;
}
.reserve-form__data .reserve-form__legend {
	margin-bottom: 0;
}

.reserve-form__date-time {
	display: flex;
	gap: 32px;
	max-width: 300px;
	grid-area: date-time;
}

.reserve-form__input--select {
	grid-area: select;
}
.reserve-form__input--name {
	grid-area: name;
}
.reserve-form__input--phone {
	grid-area: phone;
}
.reserve-form__input--surname {
	grid-area: surname;
}
.reserve-form__input--email {
	grid-area: email;
}
.reserve-form__input {
	position: relative;
	display: block;
	max-width: 300px;
}
.reserve-form__input > select,
.reserve-form__input > input {
	width: 100%;
	padding: 12px 27px 12px 15px;
	border-radius: 5px;
	outline: 3px solid var(--opacity-color);
	outline-offset: 1px;

	transition:
		background-color 0.2s ease-in,
		outline-color 0.2s ease-in,
		color 0.2s ease-in;
}

.reserve-form__input > span {
	line-height: 16px;
	text-align: left;
	color: black;

	position: absolute;
	top: 16px;
	left: 21px;

	user-select: none;
	pointer-events: none;

	transition: 0.2s ease-in;
}
.reserve-form__input--select::after {
	content: "";
	display: block;
	width: 21px;
	height: 15px;

	position: absolute;
	background-image: url("./../img/form/triangle.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	right: 10px;
	bottom: calc(50% - 6px);
	/* transform: translateY(50%); */
}

.reserve-form__input > select:not(:placeholder-shown) + span,
.reserve-form__input > select:focus-visible + span,
.reserve-form__input > input:not(:placeholder-shown) + span,
.reserve-form__input > input:focus-visible + span {
	color: white;
	top: -25px;
	left: 2px;
	font-size: 14px;
	font-weight: 700;
}

.reserve-form__input > select:hover,
.reserve-form__input > input:hover {
	background-color: #e9cff0;
}

.reserve-form__input > select:focus-visible,
.reserve-form__input > input:focus-visible {
	outline-color: var(--light-purp);
}

.button-submit {
	display: inline-block;

	color: rgb(108, 2, 135);
	font-size: 22px;
	font-weight: 700;
	line-height: 1.272727;
	text-transform: uppercase;

	padding: 16px 50px;
	background-color: #fff;
	border-radius: 10px;

	box-shadow: 0px 0px 15px #fff;
	margin-left: auto;
	margin-right: clamp(0px, 7.1428571428571428571428571428571vw, 90px);

	outline: 4px solid var(--opacity-color);
	outline-offset: 4px;

	transition:
		outline-color 0.3s ease-in,
		background-color 0.3s ease-in,
		box-shadow 0.3s ease-in,
		color 0.3s ease-in;
}

.button-submit:hover,
.button-submit:focus-visible {
	/* outline-color: var(--dark-purp); */
	background-color: var(--dark-purp);
	color: #fff;
	box-shadow: 0px 0px 15px var(--dark-purp);
}

@media (max-width: 1100px) {
	.reserve {
		padding: 60px 0;
	}

	.reserve-form__legend {
		font-size: 24px;
		margin-bottom: 26px;
	}
	.hall-radio {
		max-width: 180px;
	}
	.hall-radio > span {
		font-size: 20px;
	}
}
@media (max-width: 800px) {
	.reserve {
		padding: 50px 0;
	}
	.reserve-form__legend {
		margin-bottom: 30px;
	}
	.reserve-form__halls {
		column-gap: 20px;
		margin-bottom: 50px;
	}
	.hall-radio {
		max-width: unset;
	}
	.hall-radio > span {
		font-size: clamp(14px, 2vw, 16px);
	}
	.reserve-form__kit {
		grid-template-areas: "legend legend";
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 50px;
	}

	.reserve-form__label > select + span::before,
	.reserve-form__label > input + span::before {
		width: 40px;
		height: 40px;
	}
	.reserve-form__label > select + span,
	.reserve-form__label > input + span {
		gap: 20px;
	}
	.reserve-form__data {
		grid-template-areas:
			"legend legend"
			"date-time select"
			"name phone"
			"surname email";
		margin-bottom: 50px;
	}
}
@media (max-width: 600px) {
	.reserve {
		padding: 30px 0;
	}
	.reserve-form__legend {
		font-size: 14px;
		margin-bottom: 15px;
	}
	.reserve-form__halls {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 14px;
		grid-template-areas:
			"legend legend"
			"vibes star-wars"
			"west neon";
		column-gap: 20px;
		margin-bottom: 30px;
	}
	.hall-radio {
	}
	.hall-radio > span {
	}
	.reserve-form__kit {
		justify-content: center;
		align-items: center;
		grid-template-areas: "legend";
		grid-template-columns: repeat(1, 1fr);
		row-gap: 0;
		margin-bottom: 30px;
	}
	.reserve-form__label > select + span,
	.reserve-form__label > input + span {
		font-size: 16px;
	}
	.reserve-form__label > select + span::before,
	.reserve-form__label > input + span::before {
		width: 30px;
		height: 30px;
	}
	.reserve-form__column {
		margin-bottom: 30px;
	}

	.reserve-form__data {
		justify-content: center;
		grid-template-areas:
			"legend"
			"date-time"
			"select"
			"name"
			"phone"
			"surname"
			"email";
		gap: 14px;
		margin-bottom: 35px;
		gap: 20px;
	}

	.reserve-form__input > select:not(:placeholder-shown) + span,
	.reserve-form__input > select:focus-visible + span ,
	.reserve-form__input > input:not(:placeholder-shown) + span,
	.reserve-form__input > input:focus-visible + span {
		top: -20px;
	}
	.reserve-form__input > span {
		font-size: 14px;
	}
}
