fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.reserv {
	background-color: rgb(68, 15, 81);
}

.reserv-form__block {
	position: relative;

	margin-bottom: 60px;
	padding: 0 100px;

}

.reserv-form__block--halls {
	padding: 0;
}


.reserv-form__halls {}

.reserv-form__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	text-align: center;

	margin-bottom: 40px;
}

.reserv-form__title--subtitle {
	text-align: left;
	margin-bottom: 23px;
}

.reserv-form__halls-list {
	display: flex;
	gap: 60px;
}

/* .halls-radio-input {
	display: none;
} */



.reserv-form__halls-item .halls-radio-label:hover {
	background-color: #EADEED;
	border: 3px solid #640AA3;
}

.reserv-form__halls-item .halls-radio-input[type=radio]:checked+.halls-radio-label,
.reserv-form__halls-item .halls-radio-label:active {
	background-color: #6C0287;
	border: 3px solid #FFFFFF;
	color: #fff;
}

.halls-radio-input:focus .reserv-form__halls  {
	border-color: #640AA3;
}


.halls-radio-label {
	display: inline-block;

	color: rgb(0, 0, 0);
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	padding: 7px 15px;
	background-color: #fff;
	height: 55px;

	border-radius: 8px;
	border: 3px solid #00000000;


	min-width: 250px;

	transition: background-color 0.1s ease-in;
}

.reserv-form__row {
	display: flex;
	justify-content: space-between;
	row-gap: 100px;
}

.reserv-form__list {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

/* .selector>input {
	display: none;
} */

.selector__label {
	font-size: 22px;
	line-height: 25px;

	display: flex;
	align-items: center;
	gap: 12px;
}

.selector__label::before {
	content: "";

	width: 27px;
	height: 27px;
	background-color: #fff;

	transition: background-color 0.1s ease-in;
}

.selector__label--radio::before {
	border-radius: 100%;
}

.selector input[type=radio]:checked+.selector__label::before,
.selector input[type=checkbox]:checked+.selector__label::before {
	content: "\2714";
	text-align: center;
	color: #000;
	background-color: #ffe0a6;
}

.reserv-form__row--contacts {
	column-gap: 50px;
	margin-bottom: 40px;
}

.reserv-form__col {
	display: flex;
	flex-direction: column;
	row-gap: 36px;
}

.date-time {
	display: flex;
	column-gap: 32px;
}



.date-time__label {
	display: block;
	padding: 12px 27px 12px 20px;
	background-color: #fff;
	color: rgb(33, 30, 30);
	width: 134px;
}

.date-time__caption {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	line-height: 28px;
}

.date-time__caption::after {
	content: "";
	display: block;
	background-image: url("./../img/form/triangle.svg");
	width: 21px;
	height: 15px;
}

.person-count__label {
	display: block;
	padding: 12px 27px 12px 20px;
	background-color: #fff;
	color: rgb(33, 30, 30);
	width: 300px;
}

.person-count__caption {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	line-height: 28px;
}

.person-count__caption::after {
	content: "";
	display: block;
	background-image: url("./../img/form/triangle.svg");
	width: 21px;
	height: 15px;
}

.person-count__input {
	padding: 12px 27px 12px 20px;
	color: rgb(33, 30, 30);
	width: 300px;

	font-size: 18px;
	line-height: 28px;
}

.date-time__wrapper>input[type=text]::placeholder {
	color: #000;
}

.date-time__wrapper>input[type=text]::after {
	content: "";
	display: block;
	background-image: url("./../img/form/triangle.svg");
	width: 21px;
	height: 15px;
}

.date-time__wrapper>input {
	padding: 12px 27px 12px 20px;
	color: rgb(33, 30, 30);
	width: 134px;

	font-size: 18px;
	line-height: 28px;
}

.date-time__wrapper>input::-webkit-calendar-picker-indicator {
	background-image: url("./../img/form/triangle.svg");

}

.person-count__input {
	background-image: url("./../img/form/triangle.svg");
	background-position: right 27px top 50%, 0 0;
	background-repeat: no-repeat, repeat;

	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari and Chrome */
	appearance: none;
}

.name-label,
.surname-label,
.tel-label,
.mail-label {
	position: relative;
}

.name-label>input,
.surname-label>input {
	width: 280px;
	height: 52px;

}

.tel-label>input,
.mail-label>input {
	width: 300px;
	height: 52px;
}

.name-label::before,
.surname-label::before,
.tel-label::before,
.mail-label::before {
	display: block;
	position: absolute;
	top: calc(-16px - 9px);

	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.name-label::before {
	content: "Имя";
}

.surname-label::before {
	content: "Фамилия";
}

.tel-label::before {
	content: "Телефон";
}

.mail-label::before {
	content: "E-mail";
}

.reserv-form__button {
	display: block;
	padding: 16px 50px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	height: 60px;
	color: rgb(108, 2, 135);
	font-size: 22px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	margin-left: auto;

	border: 3px solid #00000000;

}

.reserv-form__button:hover {
	background-color: #EADEED;
	border: 3px solid #6C0287;
}

.reserv-form__button:focus {
	border-color: #6C0287;


	outline: 0;
	outline-offset: 0;
}

.reserv-form__button:active {
	background-color: #EADEED;
	border: 3px solid #EADEED;
}

.reserv-form input,
.reserv-form select {
	border: 2px solid #00000000;
	height: 52px;
}

.reserv-form input:focus,
.reserv-form select:focus {
	border: 2px solid #CD06FF;
	outline: 0;
	outline-offset: 0;
}