.reserve-form {
	padding: 80px 0;
}
.reserve-form__halls {
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(4, 250px);
	grid-template-areas:
		"legend legend legend legend"
		"vibes star-wars west neon";
}
.reserve-form__legend {
	grid-area: legend;
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.17;
	text-align: center;

	margin-bottom: 40px;
}
.reserve-form__legend--nested {
	margin-bottom: 20px;
	text-align: left;
}

/* ! Hall */

.hall-radio--vibes {
	grid-area: vibes;
}
.hall-radio--star-wars {
	grid-area: star-wars;
}
.hall-radio--west {
	grid-area: west;
}
.hall-radio--neon {
	grid-area: neon;
}
.hall-radio > span {
	display: inline-block;
	vertical-align: middle;
	width: 100%;

	color: rgb(0, 0, 0);
	font-size: 30px;
	font-weight: 700;
	line-height: 1.3;
	text-align: center;
	text-transform: uppercase;

	border-radius: 10px;
	padding: 8px 15px;
	background-color: #fff;

	outline: 4px solid var(--opacity-color);
	outline-offset: 4px;

	transition:
		outline-color 0.3s ease-in,
		background-color 0.3s ease-in,
		color 0.3s ease-in;
}

.hall-radio > span:hover {
	outline-color: var(--dark-purp);
	background-color: var(--dark-purp);
	color: #fff;
}

.hall-radio > input[type="radio"]:focus-visible + span {
	outline-color: var(--dark-purp);
}

.hall-radio > input[type="radio"]:checked + span {
	background-color: var(--violet);
	color: #fff;
}
.hall-radio > input[type="radio"]:checked:hover + span {
	outline-color: var(--violet);
}
.hall-radio > input[type="radio"]:checked:focus-visible + span {
	outline-color: var(--violet);
}

/* ! Kit */
.reserve-form__kit {
	display: grid;
	grid-template-columns: repeat(3, 220px);
	grid-template-rows: repeat(2, auto);
	grid-template-areas: "legend legend legend";
	justify-content: space-evenly;
}
.reserve-form__column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.reserve-form__legend {
}
.reserve-form__legend--mb-20 {
}

.reserve-form__label > input + span {
	display: flex;
	align-items: center;
	gap: 12px;

	color: rgb(255, 255, 255);
	font-size: 22px;
	font-weight: 400;
	line-height: 1.136;
	outline: 2px solid var(--opacity-color);
	outline-offset: 7px;
	border-radius: 5px;
	transition:
		outline-color 0.2s ease-in,
		color 0.2s ease-in;
}

.reserve-form__label > input + span::before {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	background-color: white;
	transition:
		background-color 0.2s ease-in,
		border-color 0.2s ease-in;
}
.reserve-form__label--radio {
}
.reserve-form__label > input + span::before {
	/* border: 5px solid var(--opacity-color); */
	border: 5px solid white;
}
.reserve-form__label > input[type="radio"] + span::before {
	border-radius: 50%;
}
.reserve-form__label:hover > input + span::before {
	/* border: 5px solid var(--dark-purp); */
	background-color: #ab37ff;
}
.reserve-form__label:hover > span {
	/* border: 5px solid var(--dark-purp); */
	color: #ab37ff;
}

.reserve-form__label > input:focus-visible + span {
	/* border: 5px solid var(--dark-purp); */
	outline-color: #ab37ff;
}

.reserve-form__label > input[type="radio"]:checked + span::before {
	background-color: var(--dark-purp);
}
.reserve-form__label > input[type="checkbox"]:checked + span::before {
	background-image: url("./../img/form/check.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	border-width: 0;
}

/* ! Inputs */

.reserve-form__data {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-template-rows: repeat(3, 1fr);
	gap: 36px 50px;
	justify-content: center;
}

.reserve-form__date-time {
	display: flex;
	gap: 32px;
}

.reserve-form__input {
	position: relative;
	display: block;
}
.reserve-form__input > input {
	width: 100%;
	padding: 12px 27px 12px 15px;
	border-radius: 5px;
	outline: 3px solid var(--opacity-color);
	outline-offset: 3px;

	transition:
		background-color 0.2s ease-in,
		outline-color 0.2s ease-in,
		color 0.2s ease-in;
}

.reserve-form__input > span {
	line-height: 16px;
	text-align: left;
	color: black;

	position: absolute;
	top: 16px;
	left: 21px;

	user-select: none;
	pointer-events: none;

	transition: 0.2s ease-in;
}
.reserve-form__input--select::after {
	content: "";
	display: block;
	width: 21px;
	height: 15px;

	position: absolute;
	background-image: url("./../img/form/triangle.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	right: 10px;
	bottom: calc(50% - 6px);
	/* transform: translateY(50%); */
}

.reserve-form__input > input:not(:placeholder-shown) + span,
.reserve-form__input > input:focus-visible + span {
	color: white;
	top: -20px;
	left: 2px;
	font-size: 14px;
	font-weight: 700;
}

.reserve-form__input > input:hover {
	background-color: #e9cff0;
}

.reserve-form__input > input::focus-visible {
	outline-color: var(--dark-purp);
}
