.container--reviews {
	max-width: 1180px;
	position: relative;
}

/* .reviews__list {
	display: flex;
	flex-direction: row;
	gap: 55px;
} */

.reviews__item {
	display: flex !important;
	column-gap: 20px;
}

/* .reviews__item:not(:last-child) {
	margin-bottom: 55px;
} */

.reviews__image-wrapper {
	text-align: center;
	flex-shrink: 0;
}

.reviews__image {
	margin-bottom: 11px;

	background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0), rgba(108, 2, 135, 0.5) 100%);
}

.reviews__comment {
	position: relative;
	line-height: 1.4;
	padding-top: 52px;
}

.reviews__name {
	display: flex;
	flex-direction: column;
	gap: 12px;
	text-align: center;
}

.reviews__name::before {
	content: "";
	display: block;
	width: 280px;
	height: 280px;
	border-radius: 140px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.reviews__name--maks::before {
	background:
		radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0), rgba(108, 2, 135, 0.5) 100%),
		url("./../img/reviews/maksim.png") no-repeat center / cover;
}

.reviews__name--oksana::before {
	background:
		radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0), rgba(108, 2, 135, 0.5) 100%),
		url("./../img/reviews/oksana.png") no-repeat center / cover;
}

.reviews__name--nikita::before {
	background:
		radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0), rgba(108, 2, 135, 0.5) 100%),
		url("./../img/reviews/nikita.png") no-repeat center / cover;
}

.slider__wrapper {
	max-width: 1180px;
	position: relative;
	padding: 0 40px;
}

.swiper {
	max-width: 980px;
}

.slider-button {
	position: absolute;
	/* top: 50%; */
	color: var(--dark-purp);
	outline: 2px solid var(--opacity-color);
	outline-offset: 10px;
	border-radius: 5px;

	transition:
		outline-color 0.3s ease-in,
		color 0.3s ease-in;
}

.slider-button:hover {
	color: var(--light-purp);
}

.slider-button:focus-visible {
	outline-color: var(--dark-purp);
}
.slider-button:focus-visible:hover {
	outline-color: var(--light-purp);
}

.slider-button:focus-visible:active {
	outline-color: var(--violet);
}
.slider-button:active {
	color: var(--violet);
}

.button-prev {
	left: 0;
}

.button-next {
	right: 0;
	rotate: 180deg;
}

.slider-button {
	z-index: 3;
	width: 34px;
	height: 66px;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: calc(50% - 33px);
	/* bottom: 0; */
	/* right: 0; */
}

@media (max-width: 1150px) {
	.slider__wrapper {
		max-width: 904px;
		position: relative;
	}

	.swiper {
		max-width: 725px;
		margin: 0 auto;
	}

	.slider-button {
		width: 27px;
		height: 51px;
	}

	.container--reviews {
		max-width: 904px;
	}

	/* .reviews__list {
		gap: 40px;
	} */

	.reviews__item {
		column-gap: 38px;
	}

	.reviews__list {
		font-size: 18px;
		line-height: 1.44;
	}

	.reviews__comment {
		padding-top: 33px;
	}

	.reviews__name {
		gap: 21px;
	}

	.reviews__name::before {
		width: 172px;
		height: 172px;
	}
}

@media (max-width: 900px) {
	.slider__wrapper {
		max-width: 688px;
		position: relative;
	}

	.swiper {
		max-width: 561px;
		margin: 0 auto;
	}

	.container--reviews {
		max-width: 688px;
	}

	.reviews__list {
		/* gap: 30px; */
		font-size: 16px;
		line-height: 1.375;
	}

	.reviews__item {
		column-gap: 15px;
	}

	.reviews__comment {
		padding-top: 30px;
	}

	.reviews__name {
		gap: 17px;
	}

	.reviews__name::before {
		width: 153px;
		height: 153px;
	}
}

@media (max-width: 550px) {
	.slider__wrapper {
		max-width: 688px;
		position: relative;
		padding: 0;
	}

	.swiper {
		max-width: 561px;
		margin: 0 auto;
	}

	.slider-button {
		width: 15px;
		height: 29px;
	}

	.container--reviews {
		max-width: unset;
	}

	.reviews__list {
		/* gap: 20px; */
		font-size: 14px;
		line-height: 1.43;
	}

	.reviews__item {
		flex-direction: column;
		gap: 16px;
	}

	.reviews__comment {
		padding-top: unset;
		font-size: 12px;
		line-height: 1.33;
	}

	.reviews__name {
		gap: 9px;
	}

	.reviews__name::before {
		width: 153px;
		height: 153px;
		align-self: center;
	}
}

@media (max-width: 400px) {
	.slider-button {
		top: 13px;
	}
}
