:root {
	--dark-purp: #6C0287;
	--light-purp: #CD06FF;
	--blind-purp: #EADEED;
	--violet: #640AA3;

	--opacity-color: #00000000;
}

.reserv-form__halls-wrapper {
	position: relative;
}

.just-validate-error-label {
	position: absolute;
	bottom: -25px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}