.return {
	padding-top: 30px;
	padding-bottom: 10px;
}

.return__link {
	display: flex;
	gap: 10px;
	align-items: center;
	font-size: 22px;
	line-height: 1.27;
	color: white;
	/* Цвет текста и SVG */
	max-width: 226px;
	transition: color 0.2s ease-in, outline-color 0.2s ease-in;
	outline: var(--opacity-color) 2px solid;
	border-radius: 10px;
}

.return__link::before {
	content: "";
	display: block;
	width: 31px;
	height: 14px;
	background-color: currentColor;
	mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 16"%3E%3Cpath d="M0.293 7.293c-.39.39-.39 1.023 0 1.414l6.364 6.364c.39.39 1.023.39 1.414 0s.39-1.023 0-1.414L2.414 8l5.657-5.657c.39-.39.39-1.023 0-1.414S7.047.538 6.657.929L.293 7.293zM31 7H1v2h30V7z"/%3E%3C/svg%3E') center / contain no-repeat;
}

.return__link:hover {
	color: var(--dark-purp);
}

.return__link:focus-visible {
	color: var(--light-purp);
	outline-color: var(--dark-purp);
}

.return__link:active {
	color: var(--light-purp);
}

.section {}

.intro {
	padding-top: 10px;
}

.intro__name {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 90px;
	line-height: 0.89;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	height: 750px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.intro__name--vibes {
	background-image: url("./../../img/halls-pages/vibes-bg.jpg");
}

.intro__name--sw {
	background-image: url("./../../img/halls-pages/star_wars-bg.jpg");
}

.intro__name--neon {
	background-image: url("./../../img/halls-pages/neon-bg.jpg");
}

.intro__name--ww {
	background-image: url("./../../img/halls-pages/wild_west-bg.jpg");
}

@media (max-width:1150px) {
	.return {
		padding-top: 20px;
	}

	.intro__name {
		height: 534px;
	}
}

@media (max-width:900px) {
	.return {
		padding-top: 10px;
	}

	.return__link {
		font-size: 16px;
		line-height: 1.75;
	}


	.intro__name {
		height: 402px;
		font-size: 60px;
		line-height: 1.2;
	}
}

@media (max-width:560px) {
	.return__link {
		gap: 6px;
		font-size: 12px;
		line-height: 1.33;
	}

	.return__link::before {
		width: 17px;
		height: 8px;
	}

	.intro {
		padding-top: 7px;
	}

	.intro__name {
		height: 168px;
		font-size: 30px;
	}
}



/* !BRIDGE */

.bridge {
	box-sizing: content-box;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1000px;
	margin: 0 auto;
}

.bridge__text {
	font-size: 24px;
	line-height: 1.5;
	font-weight: 700;
	text-align: center;
}

@media (max-width:1150px) {
	.bridge {
		max-width: 800px;
	}

	.bridge__text {
		font-size: 20px;
	}
}

@media (max-width:800px) {
	.bridge {
		max-width: 688px;
	}

	.bridge__text {
		font-size: 16px;
	}
}


/* ! ABOUT */

.section {}

.about-hall {}

.about-hall__content::before {
	content: "";
	display: block;
	flex-basis: 600px;
	height: 424px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.about-hall__content--vibes::before {
	background-image: url("./../../img/halls/vibes.jpg");
}

.about-hall__content--sw::before {
	background-image: url("./../../img/halls/star-wars.jpg");
}

.about-hall__content--ww::before {
	background-image: url("./../../img/halls/wild-west.jpg");
}

.about-hall__content--neon::before {
	background-image: url("./../../img/halls/neon-style.jpg");
}

.about-hall__content {
	display: flex;
	align-items: center;
	gap: 60px;
}

.about-hall__text {
	flex-basis: 500px;

	display: flex;
	flex-direction: column;
	gap: 15px;
	/* max-height: 155px; */
	line-height: 1.4;
}

@media (max-width:1150px) {
	.about-hall__content::before {
		height: 326px;
		flex-basis: 461px;
	}

	.about-hall__content {
		gap: 30px;
	}

	.about-hall__text {
		font-size: 18px;
		max-width: 413px;
	}
}

@media (max-width:900px) {
	.about-hall__content::before {
		flex-basis: 461px;
	}

	.about-hall__content {
		gap: 46px;
	}

	.about-hall__text {
		font-size: 16px;
		max-width: 313px;
	}
}

@media (max-width:660px) {
	.about-hall__content {
		flex-direction: column;
		gap: 15px;
	}

	.about-hall__content::before {
		width: 100%;
		flex-basis: 230px;
	}
}

@media(max-width:500px) {
	.about-hall__content {
		flex-direction: column;
		gap: 15px;
	}

	.about-hall__content::before {
		width: 100%;
		flex-basis: 180px;
	}

	.about-hall__text {
		font-size: 12px;
		line-height: 1.33;
		align-self: flex-start;
	}
}


/* !OTHER */

.other {}

.container {}

.section__title {}

.other__list {
	display: flex;
	gap: 20px;
	justify-content: space-around;
}

.other__item {
	height: 229px;
	flex-basis: 380px;
}

.other__link {
	height: 100%;

	font-size: 30px;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;


	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.other__link {
	transition: scale 0.2s ease-in, transform 0.2s ease-in;
}

.other__link:hover {
	scale: 1.05;
}

.other__link:focus-visible {
	outline: 3px var(--dark-purp) solid;
}

.other__link:active {
	transform: translateY(5px);
}

.other__link--vibes {
	background-image: url("./../../img/halls/vibes.jpg");
}

.other__link--ww {
	background-image: url("./../../img/halls/wild-west.jpg");
}

.other__link--sw {
	background-image: url("./../../img/halls/star-wars.jpg");
}

.other__link--neon {
	background-image: url("./../../img/halls/neon-style.jpg");
}

.other__name {
	display: block;
	width: 100px;
}

@media (max-width:1150px) {
	.other__item {
		height: 172px;
	}
}

@media(max-width:900px) {
	.other__list {
		gap: 8px;
	}

	.other__item {
		height: 134px;
	}

	.other__link {
		font-size: 20px;
	}
}

@media (max-width:500px) {
	.about-hall__text {
		text-align: center;
		margin: 0 auto;
	}

	.other__item {
		height: 100px;
	}
}

@media (max-width:400px) {
	.other__list {
		flex-direction: column;
		gap: 5px;
	}

	.other__item {
		height: unset;
		flex-basis: 140px;
	}

	.about-hall__text {
		text-align: left;
	}
}